<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link href="{% static 'Aplicacion/css/login.css' %}" rel="stylesheet"/>
</head>
<body>
    <div class="login">
        <h1>Te has deslogueado</h1>
        
        <br>
            <a class="btn btn-primary btn-block btn-large" href="{% url 'login' %}">Inicia Sesión.</a>
            <br>
            <a class="btn btn-primary btn-block btn-large" href="{% url 'register' %}">Registrate.</a>
        
    </div>
    
</body>
</html>