{% extends 'Aplicacion/post.html' %}

{% load static %}

{% block titulo %}
<h1> Cohetes reutilizables de Elon Musk </h1>
{% endblock %}

{% block articulo %}
<p>Nunca en toda su historia los hombres han sido capaces de concebir verdaderamente el mundo como uno: una sola esfera, un globo, que tiene las cualidades de un globo, una tierra redonda en la que todas las direcciones finalmente se encuentran, en la que no hay centro porque cada punto, o ninguno, es centro: una tierra igual que todos los hombres ocupan como iguales. La tierra del aviador, si la construyen hombres libres, será verdaderamente redonda: un globo en la práctica, no en la teoría.</p>
<p>La ciencia corta dos caminos, por supuesto; sus productos se pueden utilizar tanto para el bien como para el mal. Pero no hay vuelta atrás desde la ciencia. Las primeras advertencias sobre los peligros tecnológicos también provienen de la ciencia.</p>
<p>Lo más significativo del viaje lunar no fue que el hombre pusiera un pie en la Luna sino que pusieran sus ojos en la tierra.</p>
<p>Un cuento chino habla de unos hombres enviados para dañar a una joven que, al ver su belleza, se convierten en sus protectores en lugar de sus violadores. Así me sentí al ver la Tierra por primera vez. No pude evitar amarla y apreciarla.</p>
<p>Para aquellos que han visto la Tierra desde el espacio, y para los cientos y quizás miles más que lo harán, la experiencia ciertamente cambia su perspectiva. Las cosas que compartimos en nuestro mundo son mucho más valiosas que las que nos dividen.</p>
<h2 class="section-heading">The Final Frontier</h2>
<p>>No se puede pensar en terminar por 'apuntar a las estrellas'. Tanto en sentido figurado como literal, es una tarea para ocupar las generaciones. Y no importa cuánto progrese uno, siempre existe la emoción de apenas comenzar.</p>
<blockquote class="blockquote">Los sueños de ayer son las esperanzas de hoy y la realidad de mañana. La ciencia aún no ha dominado la profecía. Predecimos demasiado para el próximo año y, sin embargo, demasiado poco para los próximos diez.</blockquote>
<p>Los vuelos espaciales no se pueden detener. Este no es el trabajo de un solo hombre o incluso de un grupo de hombres. Es un proceso histórico que la humanidad está realizando de acuerdo con las leyes naturales del desarrollo humano.</p>
<h2 class="section-heading">Reaching for the Stars</h2>
<p>A medida que nos alejábamos más y más, [la Tierra] disminuía de tamaño. Finalmente se encogió al tamaño de una canica, lo más hermoso que puedas imaginar. Ese hermoso, cálido y vivo objeto se veía tan frágil, tan delicado, que si lo tocabas con un dedo se desmoronaba y se desmoronaba. Ver esto tiene que cambiar a un hombre.</p>
<a href="#!"><img class="img-fluid" src="{% static 'Aplicacion/assets/img/post-sample-image.jpg' %}" alt="..." /></a>
<span class="caption text-muted">To go places and do things that have never been done before – that’s what living is all about.</span>
<p>Espacio de la última frontera. Estos son los viajes de la Starship Enterprise. Su misión de cinco años: explorar nuevos mundos extraños, buscar nueva vida y nuevas civilizaciones, ir audazmente a donde ningún hombre ha ido antes..</p>
<p>Mientras estoy aquí en las maravillas de lo desconocido en Hadley, me doy cuenta de que hay una verdad fundamental en nuestra naturaleza, el hombre debe explorar, y esta es la exploración en su máxima expresión.</p>
<p>Placeholder text by
<a href="http://spaceipsum.com/">Space Ipsum</a>
&middot; Images by
 <a href="https://www.flickr.com/photos/nasacommons/">NASA on The Commons</a></p>
{% endblock %}
{% block form %}
{% endblock %}